<div>
  <app-sidebar></app-sidebar>
  <div class="relative md:ml-64 bg-blueGray-100">
    <app-admin-navbar></app-admin-navbar>
    <div class="relative bg-red-600 md:pt-32 pb-32 pt-12">
      <div class="px-4 md:px-10 mx-auto w-full">
        <div>
          <!-- Card stats -->
          <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
              <app-card-stats
                title="Clients"
                [data]="customersCount"
                icon="fas fa-user"
                color="bg-red-500"
              ></app-card-stats>
            </div>
            <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
              <app-card-stats
                title="Réservations"
                [data]="bookingsCount"
                icon="fas fa-users"
                color="bg-orange-500"
              ></app-card-stats>
            </div>
            <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
              <app-card-stats
                title="Chiffre d'affaire"
                [data]="totalRevenue"
                icon="fas fa-euro-sign"
                color="bg-pink-500"
              ></app-card-stats>
            </div>
            <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
              <app-card-stats
                title="Panier Moyen"
                [data]="average"
                icon="fas fa-chart-pie"
                color="bg-emerald-500"
              ></app-card-stats>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-4 md:px-10 mx-auto w-full -m-24">
      <div class="flex">
        <div class="w-1/2 p-5">
          <app-table-hairdressers [hairdressers]="hairdresserBreakdown">
          </app-table-hairdressers>
        </div>
        <div class="w-1/2 p-5">
          <!-- Meilleurs clients? -->
          <app-table-formulas [formulas]="formulasBreakdown">
          </app-table-formulas>
        </div>
      </div>
      <app-table-bookings
        [bookings]="bookings"
        [color]="'dark'"
      ></app-table-bookings>
    </div>
  </div>
</div>
