<div class="mx-auto " *ngIf="success">
  <h1 class="text-4xl py-16 px-48">
    {{success}}
  </h1>
</div>
<div *ngIf="!success">
<form class="space-y-8 divide-y divide-teal-600 p-8" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="space-y-8 divide-y divide-teal-600 sm:space-y-5">
    <div class="flex flex-col gap-6 divide-y divide-teal-600">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Manager Profile
        </h3>
        <p class="mt-1 max-w-xl text-sm text-gray-500">
          This information will be displayed publicly aso be creful what you
          share.
        </p>
      </div>

      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
        <div
          class="
            sm:grid
            sm:grid-cols-3
            sm:gap-4
            sm:items-start
            sm:border-t
            sm:border-gray-200
            sm:pt-5
          "
        >
          <label
            for="first_name"
            class="block text-md font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            First Name
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-4xl flex rounded-md shadow-sm">
              <input
                required
                type="text"
                name="first_name"
                id="first_name"
                autocomplete="given-name"
                class="
                  flex-1
                  block
                  w-full
                  focus:ring-indigo-500 focus:border-indigo-500
                  min-w-0
                  rounded-none rounded-r-md
                  sm:text-sm
                  border-gray-300
                "
                formControlName="first_name"
              />
            </div>
          </div>
          <label
            for="last_name"
            class="block text-md font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Last Name
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-4xl flex rounded-md shadow-sm">
              <input
                type="text"
                name="last_name"
                id="last_name"
                autocomplete="family-name"
                class="
                  flex-1
                  block
                  w-full
                  focus:ring-indigo-500 focus:border-indigo-500
                  min-w-0
                  rounded-none rounded-r-md
                  sm:text-sm
                  border-gray-300
                "
                formControlName="last_name"

              />
            </div>
          </div>
        </div>

        <div
          class="
            sm:grid
            sm:grid-cols-3
            sm:gap-4
            sm:items-start
            sm:border-t
            sm:border-gray-200
            sm:pt-5
          "
        >
          <label
            for="email"
            class="block text-lg font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Email
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-4xl flex rounded-md shadow-sm">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                class="
                  flex-1
                  block
                  w-full
                  focus:ring-indigo-500 focus:border-indigo-500
                  min-w-0
                  rounded-none rounded-r-md
                  sm:text-lg
                  border-gray-300
                "
                formControlName="email"
              />
            </div>
          </div>
        </div>
        <div
          class="
            sm:grid
            sm:grid-cols-3
            sm:gap-4
            sm:items-start
            sm:border-t
            sm:border-gray-200
            sm:pt-5
          "
        >
          <label
            for="password"
            class="block text-lg font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Password
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-4xl flex rounded-md shadow-sm">
              <input
                type="password"
                name="password"
                id="password"
                autocomplete="password"
                class="
                  flex-1
                  block
                  w-full
                  focus:ring-indigo-500 focus:border-indigo-500
                  min-w-0
                  rounded-none rounded-r-md
                  sm:text-lg
                  border-gray-300
                "
                formControlName="password"

              />
            </div>
          </div>
        </div>

        <div
          class="
            sm:grid
            sm:grid-cols-3
            sm:gap-4
            sm:items-center
            sm:border-t
            sm:border-gray-200
            sm:pt-5
            mb-6
          "
        >
          <label for="photo" class="block text-lg font-medium text-gray-700">
            Photo
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="flex items-center">
              <span class="h-12 w-12 rounded-full overflow-hidden bg-gray-100">
                <img *ngIf="profileImagePath" [src] = "profileImagePath" alt="" srcset="">
                <svg 
                  *ngIf="!profileImagePath"
                  class="h-full w-full text-gray-300"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"
                  />
                </svg>
              </span>
              <input
                style="display: none"
                type="file"
                (change)="onProfileImageChanged($event)"
                #fileInput
              />
              <button
                type="button"
                class="
                  ml-5
                  bg-white
                  py-2
                  px-3
                  border border-gray-300
                  rounded-md
                  shadow-sm
                  text-sm
                  leading-4
                  font-medium
                  text-gray-700
                  hover:bg-gray-50
                  focus:outline-none
                  focus:ring-2
                  focus:ring-offset-2
                  focus:ring-indigo-500
                "
                (click)="fileInput.click()"
              >
                Change
              </button> {{uploaded}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-8 space-y-8 sm:pt-10 sm:space-y-8 divide-y divide-teal-600">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Saloon Information
        </h3>
        <p class="mt-1 max-w-4xl text-sm text-gray-500 mb-6">
          Please Provide us with all the information about your saloon
        </p>
      </div>
      <div class="flex flex-col gap-6">
        <div
          class="
            pt-6
            sm:grid
            sm:grid-cols-3
            sm:gap-4
            sm:items-start
            sm:border-t
            sm:border-gray-200
            sm:pt-5
          "
        >
          <label
            for="saloon-name"
            class="block text-lg font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Saloon name
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input
              type="text"
              name="saloon-name"
              id="saloon-name"
              class="
                max-w-lg
                block
                w-full
                shadow-sm
                focus:ring-indigo-500 focus:border-indigo-500
                sm:max-w-xs sm:text-sm
                border-gray-300
                rounded-md
              "
              formControlName="name"
            />
          </div>
        </div>

        <div
          class="
            sm:grid
            sm:grid-cols-3
            sm:gap-4
            sm:items-start
            sm:border-t
            sm:border-gray-200
            sm:pt-5
          "
        >
          <label
            for="cover_photo"
            class="block text-lg font-medium text-gray-700 sm:mt-px sm:pt-2"
          >
            Saloon photo
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div
              class="
                max-w-lg
                flex
                justify-center
                px-6
                pt-5
                pb-6
                border-2 border-gray-300 border-dashed
                rounded-md
              "
            >
              <div class="space-y-1 text-center">
                <svg
                  class="mx-auto h-12 w-12 text-gray-400"
                  stroke="currentColor"
                  fill="none"
                  viewBox="0 0 48 48"
                  aria-hidden="true"
                >
                  <path
                    d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <div class="flex text-lg text-gray-600">
                  <label
                    for="file-upload"
                    class="
                      relative
                      cursor-pointer
                      bg-white
                      rounded-md
                      font-medium
                      text-indigo-600
                      hover:text-indigo-500
                      focus-within:outline-none
                      focus-within:ring-2
                      focus-within:ring-offset-2
                      focus-within:ring-indigo-500
                    "
                  >
                    <span>Upload a file</span>
                    <input
                      id="file-upload"
                      name="file-upload"
                      type="file"
                      class="sr-only"
                      (change)="onSaloonImageChanged($event)"
                    />
                  </label> 
                  <p class="pl-1">or drag and drop</p>
                </div>
                <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-6">
    <div class="flex justify-end">
      <button
        type="button"
        class="
          bg-red-500
          py-2
          px-4
          border border-gray-300
          rounded-md
          shadow-sm
          text-sm
          font-medium
          text-white
          hover:bg-gray-500
          focus:outline-none
          focus:ring-2
          focus:ring-offset-2
          focus:ring-indigo-500
        "
      >
        Reset
      </button>
      <button
        type="submit"
        class="
          ml-3
          inline-flex
          justify-center
          py-2
          px-4
          border border-transparent
          shadow-sm
          text-sm
          font-medium
          rounded-md
          text-white
          bg-emerald-500
          hover:bg-emerald-800
          focus:outline-none
          focus:ring-2
          focus:ring-offset-2
          focus:ring-indigo-500
        "
      >
        Save
      </button>
    </div>
  </div>
</form>

</div>