<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative inline-block text-left">
  <div>
    <button
      type="button"
      class="
        inline-flex
        justify-center
        w-full
        rounded-md
        border border-gray-300
        shadow-sm
        px-4
        py-2
        bg-white
        text-sm
        font-medium
        text-gray-700
        hover:bg-gray-50
        focus:outline-none
        focus:ring-2
        focus:ring-offset-2
        focus:ring-offset-gray-100
        focus:ring-indigo-500
      "
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
    >
      Ajouter un Salon
    </button>
  </div>

  <div
    class="
      origin-top-right
      absolute
      right-0
      mt-2
      w-56
      rounded-md
      shadow-lg
      bg-white
      ring-1 ring-black ring-opacity-5
      divide-y divide-gray-100
      focus:outline-none
    "
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
  >
    <div class="py-1" role="none">
      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
      <a
        href="#"
        class="text-gray-700 block px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-0"
        >Modifier</a
      >
      <a
        href="#"
        class="text-gray-700 block px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-1"
        >Dupliquer</a
      >
    </div>
    <div class="py-1" role="none">
      <a
        href="#"
        class="text-gray-700 block px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-2"
        >Archive</a
      >
      <a
        href="#"
        class="text-gray-700 block px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-3"
        >Déplacer</a
      >
    </div>
    <div class="py-1" role="none">
      <a
        href="#"
        class="text-gray-700 block px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-4"
        >Partager</a
      >
      <a
        href="#"
        class="text-gray-700 block px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-5"
        >Ajouter aux favoris</a
      >
    </div>
    <div class="py-1" role="none">
      <a
        href="#"
        class="text-gray-700 block px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-6"
        >Supprimer</a
      >
    </div>
  </div>
</div>
